@model BookTheShowEntity.Userv
@*//this name should be the name of projects under dependencies after adding referrences in MvcUi*@

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<html>
<head>
  
</head>
<body>

    <a asp-controller="Main" asp-action="Login" va">Login as User</a>

    <a asp-controller="Main" asp-action="LoginAdmin">Login as Admin</a>
    
 </body>
 </html>
